<div class="box-header with-border">
    <div class="user-block">
        <h2>{{ newspost.title }}</h2>
        <span class="description">Updated At - {{ newspost.dateAdded }}</span>
    </div>
    <img class="img-circle" src="{{ newspost.picture }}" alt="User Image">
    <div class="box-tools">
        <p>{{ newspost.shortDescription }}</p>
    </div>
    <hr>
</div>