{% extends 'base-front.html.twig' %}

{% block body %}
    {% if error is defined and error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path(login_path) }}" method="post">

        <div class="form-group">
            <label for="email">Username:</label>
            <input type="text"  class="form-control" id="username" name="_username" value="{{ last_username ?? "" }}"/>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="password" name="_password"/>
        </div>
         <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}